<h1>"show"</h1>
<p> <%= link_to @link.title , @link.url %> </p>

<%= form_for @comment do |f| %>
	<% if @comment.errors.any? %>
		<div id="error_explaination">
			<h2><%= pluralize(@comment.errrors.count, "error") %> prohibited this user from being saved:</h2>

			<ul>
			<% @comment.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
	  <%= f.label :message %>:
	  <%= f.text_area :message, :placeholder => "Add a comment" %><br />
	</div>
	
	<div class="actions"> 
	  <%= f.submit %>
	</div>
<% end %>


